body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

header, footer {
    background-color: darkturquoise;
}

.site-title {
    color: midnightblue;
}

#my-image {
    box-shadow: 0px 2px 1px rgba(0,0,0,0);
}

article ul {
    text-decoration: square;
}

a [href="notes.html"] {
    text-decoration: none;
}