body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

header, footer {
    background-color: darkturquoise;
}

.site-title, .notes-title {
    color: midnightblue;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
    width: 250px;
}

article ul {
    list-style: square;
}

a[href="notes.html"], a[href="index.html"]{
    text-decoration: none;
    list-style: none;
}

.navigation {
    list-style: none;
    background-color:lightblue;
    border-style: solid;
}
a:hover, a:active {
    background-color:tomato;
}

.bullet-list :nth-child(odd) {
    background: lightgrey;
}