body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(204, 255, 255);
}

.navigation {
    list-style: none;
}

#nfl-logo {
    width: 250px;
}

header {
    background-image: url()
}