body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(204, 255, 255);
}

.navigation {
    list-style: none;
}

#nfl-logo {
    width: 250px;
}

header {
    background-image: url(../images/american-3563291_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;

}


.columns > div {
    width: 50%;
    float: left;
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}