body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(204, 255, 255);
}

.navigation {
    list-style: none;
}

#nfl-logo {
    width: 250px;
}

header {
    background-image: url(../images/football-78394_1920.jpg);
    background-color: rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: center;
    text-shadow: 2px 2px #000000;
    width: 100%;
    /*adjust stacking Z order*/
    z-index: 2;
    top: 0;
}

nav ul li {
    display: inline-block;
    padding: 1rem;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}


.columns > div {
    width: 50%;
    float: left;
}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

.form {
    border: 1px;
}