body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
}

header, footer {
    background-color: darkturquoise;
}

.site-title {
    color: midnightblue;
}