/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*line height spaces the text out and the font is added to the entire body. overflow-x allows scrolling to not view overflowing elements*/
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/*targets the ordered lists and unordered lists to remove list styles*/
ol, ul {
    list-style: none;
}

/*blockquote shows a section that uses info from another source. in this case there are no quotes*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*table tag has no spacing between the border and content and it collapses*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
CSS BEGIN
*/

/*header with a background color*/
header {
    background-color: rgb(23, 23, 23);
}

/*targets the maintitle class and adds a background color, text color, width, padding, and height*/
.maintitle {
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    width: 100%;
    padding: 5px;
    height: auto;
}

/*targets the h1 tags within the maintitle class and adjusts the font size, font weight, padding, and line-height*/
.maintitle h1 {
    font-size: 3rem;
    font-weight: 1500;
    padding: 10px;
    line-height: 70px;
}

/*targets the p tags within the maintitle class and adjusts the line height and the padding*/
.maintitle p {
    line-height: 20px;
    padding: 5px;
}

/*targets the logobackground class and adds a background color*/
.logobackground {
    background-color: darkgoldenrod;
}

/*targets the home id and adds color, displays it as a block, centers the text and adds padding*/
#home {
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
}

/*targets the tabnav id and adds a text color, displays it as a block, and centers the text*/
#tabnav {
    color: darkgoldenrod;
    display: block;
    text-align: center;
}

/*targets the unordered list and list items in the nav and removes list styling and adds a margin*/
ul, li {
    list-style: none;
    margin: 15px;
}

/*targets any links that are visited and removes text decoration after the link has been visited*/
a:link, a:visited {
    text-decoration: none;
}

/*targets the copyright class and adds a text color*/
.copyright {
    color: darkgoldenrod;
}

/*targets the unsplashcredit class and adds a text color*/
.unsplashcredit {
    color: darkgoldenrod;
}

/*targets the footer and adds a background color*/
footer {
    background-color: black;
}

/*targets any links that you hover over, which changes the text color and adds a hover color*/
a:hover {
    color: black;
    background-color: #c78c06;
}

/*targets the tabnav class and adds a text color, displays as block, centers the text, adjusts font size, and adds padding*/
.tabnav {
    color: darkgoldenrod;
    display: block;
    text-align: center;
    font-size: 16pt;
    padding: 25px;
}

/*targets the button id and adds a background color, text color, removes any borders, adds margin, and adjusts font size*/
#button {
    background-color: #222;
    color: darkgoldenrod;
    border: none;
    margin: 10px;
    font-size: 1.5rem;
}

/*targets the fa-search class and changes the color of the icon, as well as remove any border radius, and adds a background color*/
.fa-search {
    color: darkgoldenrod;
    border-radius: none;
    background-color: black;
}

/*targets the table and adds a fixed layout*/
table {
    table-layout: fixed;
}

/*targets the table and the elements inside. this adds a border around the elements, collapes it, adds padding and margin, and adjusts the width*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
    width: 95%;
}

/*targets the items within the table and adds a background color*/
th {
    background-color: #ffe6ac;
}

/*targets the map and adjusts the width, margin, and displays as block*/
iframe {
    width: 95%;
    margin: auto;
    display: block;
}

/*targets the text input and adjusts width, margin, line height, and adds a border and border radius*/
input[type=text] {
    width: 95%;
    max-width: 1100px;
    margin: 10px;
    line-height: 20px;
    border: 1px solid #222;
    border-radius: 2px;
}

/*targets the text2 input and adjusts width with a max and min width, margin, line height, and adds a border and border radius*/
input[type=text2] {
    width: 95%;
    max-width: 1100px;
    margin: 10px;
    line-height: 20px;
    border: 1px solid #222;
    min-height: 200px;
    border-radius: 2px;
}

/*targets the searchbar class and centers the text, adds a background color, removes border radius, and adds a border*/
.searchbar {
    text-align: center;
    background-color: #222;
    border-radius: none;
    border: 1px solid darkgoldenrod;
}

/*targets the search input and increases its width*/
.search {
    width: 95%;
}

/*targets the "Connect with us" button and adds a background color, text color, adjusts padding and margin and font size, and removes border*/
.connect {
    background-color: #c78c06;
    color: black;
    padding: 30px;
    border: none;
    margin: 10px;
    font-size: 1.5rem;
}

/*targets the arrow icon in the "Connect with us" button and adjusts the padding*/
.fa-caret-right {
    padding-left: 10px;
}

/*targets the fa-play class and adds padding and color*/
.fa-play {
    padding-left: 18px;
    color: white;
}

/*a collection of class targets in the "Our Services" section that adds background color, text color, removes border, and adjusts the font size, padding, and font family*/
.digital {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.marketing {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.video {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.web {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.print {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

/*targets the vision class and adds a background color with adjusted opacity, adds text color and padding, and adjusts the border and font family*/
.vision {
    background-color: rgba(22,22,22, 0.8);
    color: white;
    border: 1px solid darkgoldenrod;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

/*targets the homepage class and adds a background image and padding, and adjusts the positioning, size, removes repeat and adjusts height*/
.homepage {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0px;
    height: auto;
}

/*targets the numerous classes that range from "About Us" to "Our Team" and adds background color and adjusts the margin, padding, font size, and line height*/
.about {
    background-color: #ffe6ac;
    margin: auto;
    padding: 10px;
}

.about p {
    line-height: 25px;
}

.dt {
    background-color: #ffe6ac;
    padding: 15px;
}

.dt p {
    line-height: 25px;
}

.dt h2 {
    font-size: 23pt;
}

.market {
    background-color: #ffe6ac;
    padding: 15px;
}

.market p {
    line-height: 25px;
}

.market h2 {
    font-size: 23pt;
}

.vp {
    background-color: #ffe6ac;
    padding: 15px;
}

.vp {
    line-height: 25px;
}

.vp h2 {
    font-size: 23pt;
}

.wd {
    background-color: #ffe6ac;
    padding: 15px;
}

.wd {
    line-height: 25px;
}

.wd h2 {
    font-size: 23pt;
}

.printplans {
    background-color: #ffe6ac;
    padding: 15px;
}

.printplans p {
    line-height: 25px;
}

.printplans h2 {
    font-size: 23pt;
}

.john {
    background-color: #ffe6ac;
    padding: 15px;
}

.john p {
    line-height: 20px;
}

.bob {
    background-color: #ffe6ac;
    padding: 15px;
}

.bob p {
    line-height: 20px;
}

/*targets all h2 tags and adjusts the font size, font weight, and padding*/
h2 {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 10px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

h5 {
    border-bottom: 3px solid #c78c06;
    padding-bottom: 6px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.aboutusimg {
    width: 95%;
    margin: auto;
    display: block;
    padding: 10px;
    max-width: 1100px;
}

.digi {
    width: 100%;
    margin: auto;
}


.mark {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.vid {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.webdev {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.pr {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.ourvision {
    color: white;
}

.learnmore {
    color: white;
    line-height: 25px;
}

.learnmore {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 15px;
}

.namefull {
    font-size: 9pt;
}

.maile {
    font-size: 9pt;
}

.msg {
    font-size: 9pt;
}

.formlabels {
    padding-left: 10px;
}

.johnimg {
    width: 100%;
}

.bobimg {
    width: 100%;
}

.hoo {
    font-size: 15pt;
}

.loc {
    font-size: 15pt;
}

.unsplash {
    text-decoration: underline;
    color: darkgoldenrod;
}

footer {
    padding: 10px;
    background-color: #222;
}

/****************
DESKTOP
****************/

@media screen and (min-width: 760px) {
    .homepage {
        background-image: url(../images/main-banner.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 30px 70px;
    }
    .wrapper {
        max-width: 1200px;
        margin: auto;
    }
    .digitalt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 46%;
    }
    .mrkt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 46%;
    }
}

@media screen and (min-width:750px) {
    .alljohn {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 50%;
    }

    .allbob {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 50%;
        float: right;
    }
}

@media screen and (min-with:1120px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 40%;
        padding-right: 50%;
    }
}

@media screen and (min-wdith:1200px) {
    .dt {
        padding: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .digi {
        padding: 3em;
        width: 50;
        float: left;
    }
}