/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
CSS BEGIN
*/

header {
    background-color: rgb(23, 23, 23);
}

.maintitle {
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    width: 100%;
    padding: 5px;
    height: auto;
}

.maintitle h1 {
    font-size: 3rem;
    font-weight: 1500;
    padding: 10px;
    line-height: 50px;
}

.maintitle p {
    line-height: 20px;
    padding: 5px;
}

.logobackground {
    background-color: darkgoldenrod;
}

#home {
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
}

#tabnav {
    color: darkgoldenrod;
    display: block;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 15px;
}

a:link, a:visited {
    text-decoration: none;
}

.copyright {
    color: darkgoldenrod;
}

.unsplashcredit {
    color: darkgoldenrod;
}

footer {
    background-color: black;
}

a:hover {
    color: black;
    background-color: #c78c06;
}

.tabnav {
    color: darkgoldenrod;
    display: block;
    text-align: center;
    font-size: 16pt;
    padding: 25px;
}

#button {
    background-color: black;
    color: darkgoldenrod;
    border: none;
    margin: 20px;
    font-size: 1.5rem;
}

.fa-search {
    color: darkgoldenrod;
    border-radius: none;
    background-color: black;
}

table {
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    width: 90%;
}

th {
    background-color: #ffe6ac;
}

iframe {
    width: 95%;
    margin: auto;
    display: block;
}

input[type=text] {
    width: 90%;
    max-width: 1100px;
    margin: 20px;
    line-height: 20px;
    border: 1px solid #222;
}

.searchbar {
    text-align: center;
    background-color: #222;
    border-radius: none;
    border: 1px solid darkgoldenrod;
}

.search {
    width: 95%;
}

.connect {
    background-color: #c78c06;
    color: black;
    padding: 30px;
    border: none;
    margin: 10px;
    font-size: 1.5rem;
}

.fa-caret-right {
    padding-left: 10px;
}

.fa-play {
    padding-left: 18px;
    color: white;
}

.digital {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.marketing {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.video {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.web {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.print {
    background-color: #222;
    color: white;
    border: none;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.vision {
    background-color: #222;
    color: white;
    border: 2px solid darkgoldenrod;
    font-size: larger;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.homepage {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0px;
    height: auto;
}

.about {
    background-color: #ffe6ac;
    margin: auto;
    padding: 10px;
}

.dt {
    background-color: #ffe6ac;
    padding: 15px;
}

.market {
    background-color: #ffe6ac;
    padding: 15px;
}

.vp {
    background-color: #ffe6ac;
    padding: 15px;
}

.wd {
    background-color: #ffe6ac;
    padding: 15px;
}

.printplans {
    background-color: #ffe6ac;
    padding: 15px;
}

.john {
    background-color: #ffe6ac;
    padding: 15px;
}

.bob {
    background-color: #ffe6ac;
    padding: 15px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 10px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

h5 {
    border-bottom: 3px solid #c78c06;
    padding-bottom: 6px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.aboutusimg {
    width: 95%;
    margin: auto;
    display: block;
    padding: 10px;
    max-width: 1100px;
}